//menu button
.menu-button {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;
  display: block;

  .button-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
    // &:nth-child(3) {
    //   margin: 0;
    // }
  }

  //Rotate into X with menu lines

  &.close {
    // transform: rotate3d(0, 1, 0.5, 3.142rad);
    transition: transform 0.3s;
    transform: rotate(180deg);

    .button-line {
      //rotate line 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      //hide line 2
      &:nth-child(2) {
        opacity: 0;
      }

      //rotate line 3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}
